@font-face {
    font-family: "Open Sans";
    src: url(./fonts/OpenSans/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: "Mulish";
    src: url(./fonts/Mulish/Mulish-VariableFont_wght.ttf);
}
* {
    box-sizing: border-box;
}
body {
    margin: auto;
    max-width: 1408px;
}
.header {
    /* border: 1px solid red; */
    margin-bottom: 0;
    padding: 18px 32px 17px 146px;
    max-width: 1408px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.nav {
    align-self: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
.list {
    display: flex;
    list-style: none;
    gap: 36px;
}
.header__btn {
    text-transform: uppercase;
}
.header__btn {
    border: none;
    background-color: #5B6460;
    color: white;
    font-size: 14px;
    padding: 16px 60px;
}
.main {
    /* transform: translate(-50%, 0); */
    margin: auto;
    max-width: 1408px;
}
.intro {
    /* display: flex; */
    background-image: url(./images/img_intro.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    padding-right: 58px;
    padding-top: 95px;
    /* padding-left: 595px; */
    margin-bottom: 150px;
}
.intro__title {
    color: white;
    white-space: nowrap;
    margin: 0 0 34px 0;
    font-weight: lighter;
    line-height: 28px;
    font-size: 70px;
    text-align: right;
    font-family: "Open Sans";
}
.intro__text {
    color: white;
    
}
.intro__tx {
    color: white;
    /* margin-left: 326px; */
    margin-left: 66%;
    font-size: 20px;
    text-align: center;
    display: block;
    width: 333px;
    font-family: "Mulish";
}
.cabins__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.cabins__left {
    display: flex;
    gap: 50px;
    width: 465px;
    flex-direction: column;
    justify-content: center;
    margin-top: 87px;
    margin-left: 147px;
}
.left__title {
    font-family: "Open Sans";
    color: #5B6460;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 0;
}
.left__text {
    font-family: "Open Sans";
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    line-height: 30px;
}
.left__foot {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
    color: #5B6460;
}
.right__img {
    width: 693px;
}
.cabins__footer {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 25px; */
}
.cabins {
    margin-bottom: 135px;
}

.forest {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 650px;

}
.forest__right {
    background-color: #E9ECE0;
    padding: 150px 129px 0 110px;
    font-family: "Open Sans";
    /* display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;   */
}
.forest__title {
    font-size: 40px;
    font-weight: 400;
}
.forest__descr {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 50px;
}
.forest__foot {
    text-decoration: underline;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    color: #5B6460;
}
.forest__btn {
    position: relative;
}
.btn__descr {
    /* display: block; */
    position: absolute;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 12px;
    max-width: 71px;
    margin-left: 317px;
    /* margin: auto; */
    margin-top: 312px;
    text-align: center;
    text-transform: uppercase;
    z-index: 10;
}
.btn__el {
    position: absolute;
    background-color: white;
    border-radius: 50%;
}
.btn__elipse1 {
    margin-top: 237px;
    margin-left: 264px;
    min-width: 176px;
    min-height: 176px;
    opacity: 0.15;
    z-index: 3;
}
.btn__elipse2 {
    margin-top: 258px;
    margin-left: 285px;
    min-width: 134px;
    min-height: 134px;
    opacity: 0.25;
    z-index: 4;
}
.btn__elipse3 {
    margin-top: 277px;
    margin-left: 304px;
    min-width: 96px;
    min-height: 96px;
    z-index: 5;
}
.forest__map {
    display: none;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    z-index: 1;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.facilites__top {
    background-color: #5B6460;
    color: white;
    padding: 81px 22%;
}
.facilites__title {
    font-size: 40px;
    text-align: center;
    font-family: "Open Sans";
    font-weight: 300;
    margin: 0;
}
.facilites__descr {
    margin-top: 50px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 37px;
}
.ico__descr {
    text-align: center;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 18px;
}
.facilites__ico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ico__img {
    max-width: 70px;
}
.facilites__foot {
    display: flex;
    position: relative;
}
.foot__img1, .foot__img2 {
    display: inline-block;
    min-width: 50%;
    min-height: 559px;
    background-repeat: no-repeat;
    background-size: auto;
}
.foot__img1 {
    background-image: url(./images/facilites_foot__img1.jpg);
}
.foot__img2 {
    background-image: url(./images/facilites_foot__img2.jpg);
}
.foot__btn {
    left: 626px;
    top: 202px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #E9ECE0;
    border-radius: 50%;
    min-height: 157px;
    min-width: 157px;
}
.foot__btn__text {
    color: #333333;
    font-family: "Open Sans";
    font-size: 16px;
    text-align: center;
}
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #5B6460;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footer__left {/*
    display: flex;
    justify-content: center;
    align-items: center;*/
    padding-left: 137px;
}
.footer__left__title {
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 40px;
}
.footer__left__input {
    position: relative;
}
.footer__left__input__place {
    padding: 0;
    outline: none;
    min-width: 400px;
    border: none;
    color: #FFFFFF !important;
    background-color: #5B6460;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    font-style: italic;
}
.footer__left__input__place::placeholder {
    color: #FFFFFF !important;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    font-style: italic;
}
.footer__left__input::before {
    content: "";
    position: absolute;
    min-width: 435px;
    height: 1px;
    background-color: #EFEFEF;
    top: 30px;
}
.footer__left__input::after {
    content: "";
    position: absolute;
    min-width: 33px;
    min-height: 15px;
    background-image: url(./images/footer_left__img1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    top: 5px;
    left: 400px;
}
.footer__left__descr {
    max-width: 385px;
    color: rgba(255, 255, 255, 0.7);
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 70px;
}
.footer__left__company {
    color: rgba(239, 239, 239, 1);
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
}
.footer__right {
    padding-left: 78px;
}
.footer__right__descr {
    display: flex;
    list-style: none;
    gap: 31px;
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 50px;
}
.footer__right__icons {
    margin-left: 180px;
    display: flex;
    gap: 40px;
}
.right__icons__img {
    min-width: 50px;
    min-height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.right__icons__img:nth-child(1) {
    background-image: url(./images/footer_right__img1.svg);
}
.right__icons__img:nth-child(2) {
    background-image: url(./images/footer_right__img2.svg);
}
.right__icons__img:nth-child(3) {
    background-image: url(./images/footer_right__img3.svg);
}
.right__icons__img:nth-child(4) {
    background-image: url(./images/footer_right__img4.svg);
}